<h1><%= @doctor.name %>: Appointments</h1>
<%= link_to "Back", doctors_path, class: "ui primary button" %>
<%= link_to "Add Appointment", new_doctor_appointment_path(@doctor) %>
<hr />
<ul>
  <%= @date.each do |d| %>
    <li>
      <%= d %>
      <br />
      <%= link_to "Remove", doctor_appointment_path(@doctor, date), method: :delete %>
    </li>
  <% end %>
</ul>